* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 30px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: black;
}

.calculator .input-area__box {
  max-width: 550px;
  min-width: 200px;
  width: 100%;
  height: 25%;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 50px;
}
.calculator .buttons {
  max-width: 550px;
  min-width: 200px;
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.calculator .buttons__item {
  background-color: #333333;
  color: white;
  border-radius: 50%;
}
.calculator .buttons__item--topthree {
  background-color: #b5b5b5;
  color: black;
}
.calculator .buttons__item--rhs {
  background-color: orange;
}
.calculator .buttons #bottom-left {
  width: 200%;
}
.calculator .buttons #bottom-middle {
  margin-right: -100%;
  margin-left: 100%;
}
.calculator .buttons #bottom-right {
  margin-right: -100%;
  margin-left: 100%;
}

@media only screen and (min-width: 550px) {
  .calculator {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 10vh 15vw 0 32.5vw;
    border: 20px solid #360f0f;
    border-radius: 10px;
  }
  .calculator .input-area__box {
    height: 175px;
  }
  .calculator .buttons {
    background-color: black;
    height: 400px;
  }

  .background {
    background-color: white;
  }
}